@import './variables.styl'

*
  a
    color $primaryColor
    text-decoration: none
    font-weight bolder

  h1,h2,h3,h4,h5,h6
    color $primaryColor

  ::-webkit-scrollbar,
  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-track
    border-radius: 10px;
    width: 16px;

  ::-webkit-scrollbar-thumb
    background-color: $primaryColor;

  ::-webkit-scrollbar-track
    background-color: $accentColor

  main
    text-align justify
    
