@import './variables.styl'

*
  a
    color $baseGreen
    text-decoration: none
    font-weight bolder

  h1,h2,h3,h4,h5,h6
    color $baseGreen

  ::-webkit-scrollbar,
  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-track
    border-radius: 10px;
    width: 16px;

  ::-webkit-scrollbar-thumb
    background-color: $altGreen;

  ::-webkit-scrollbar-track
    background-color: $baseGreen
