$black = rgba(0, 0, 0, 1);
$darkGreen = rgba(9, 122, 45, 1);
$green = rgba(62, 173, 50, 1);
$accent = rgba(88, 0, 126, 1);
$accentDark = rgba(0,255,127,1);
$white = rgba(255, 255, 255, 1);

$primaryColor = $green;
$accentColor = $accent;
$background = $white;
$textColor = $black;

.dark-theme {
    $primaryColor = $green;
    $accentColor = $accent;
    $background = $white;
    $textColor = $black;
}