.Layout
  display: grid;
  grid-template-columns: 1fr
  grid-template-rows 80px 1fr
  grid-template-areas: "Nav" "Content";
  margin 0
  padding: 0

  .Nav
    grid-area Nav
    width 100%

  .Content
    grid-area Content
    width 90%
    max-width 1500px
    padding 1rem

    & > :first-child > h3
      margin-top: 0

  @media screen and (max-width: 768px)
    grid-template-areas "Content" "Nav"
    grid-template-columns 1fr
    grid-template-rows 1fr 80px

    .Content
      height 100vh
      overflow-y auto
      padding 0.5rem
      width 100%



