$sidebarHeight = 10vh
$contentHeight = 90vh
$sidebarWidth = 25vw
$contentWidth = 73vw

.Layout
  display grid
  grid-template-areas "Sidebar Content"
  grid-template-columns $sidebarWidth $contentWidth
  grid-template-rows 1fr
  margin 0
  padding: 0

  .Sidebar
    grid-area Sidebar
    height 100%
    overflow hidden
    position fixed
    width $sidebarWidth

  .Content
    grid-area Content
    height 100%
    width $contentWidth
    overflow-y: auto;

    & > :first-child > h3
      margin-top: 0

  @media screen and (max-width: 768px)
    grid-template-areas "Content" "Sidebar"
    grid-template-columns 1fr
    grid-template-rows $contentHeight $sidebarHeight

    .Sidebar
      bottom: 0
      height $sidebarHeight
      margin-top 50%
      width 100%

    .Content
      height $contentHeight
      width 100%

      & > :last-child
        margin-bottom: $sidebarHeight + 50%


