@import '../../styles/variables.styl'

.AboutMe
  display block
  margin 0 auto
  width 60%

  :nth-child(2)
    margin-top 15%
    &:first-letter
      font-size 600%
      line-height 0
      color $altAccentColor


  @media screen and (max-width: 768px)
    width 100%

  @media screen and (max-width: 768px)
    width 100%
